body {

    color:"white";
    background-color: "black";
  }
  .jumbotron {
/*     background-image: url("../images/bellybuttons.jpg"); */
    background-image: url("https://github.com/v2krishna/Belly-Button-Biodiversity/blob/3dbe46d639b6e8637b5eaad2e77e3ee01c9d8a94/static/images/bellybuttons.jpg");
    background-size: default;
    text-align: center;
    color: white;
    
  }
  .panel-heading{
      text-align:center;
      background-color:black;
      font-display: display4;
    }
