body {

    color:"white";
    background-color: "black";
  }
  .jumbotron {
/*     background-image: url("../images/bellybuttons.jpg"); */
      background-image: url("/static/images/bellybuttons.jpg");
      
    background-size: default;
    text-align: center;
    color: white;
    
  }
  .panel-heading{
      text-align:center;
      background-color:black;
      font-display: display4;
    }
